<!DOCTYPE html>
<html>
  <head>
    <title>ENTR451: User Security</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body> <!-- will show up in every page -->
    <p>
      <a href="/users/new">Sign Up</a>
    </p>

    <p>
      <%= flash["notice"] %> <!-- system wide hash like "params" -->
    </p>

    <%= yield %>
  </body>
</html>
